/******** Default ********/

* {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    
    color: #4A4A4A;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    text-align: center;  
}

/******** Default Styles ********/
h2 {
    padding: 30px 0;

    color: #3DBEFF;
    text-transform: uppercase;
}

/******** Navigation ********/

nav {
    background-color: #FAFAFA;
}

nav h1 {
    font-size: 2.5em;
    color: #0077FF;
}

nav ul {
    text-decoration: none;
    padding-left: 0;
}

nav li {
    display: block;

    padding: 10px;
    margin: 10px 5px;

    color: #0077FF;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;

    background-color: #FFFFFF;
}

nav a {
    color: inherit;
    text-decoration: none;  
}

nav a:hover {
    border-bottom: 1px solid #0077FF;
}

/******** Header ********/

header {
    background-color: #FAFAFA;
    padding-bottom: 30px;
}

header img {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 20px;

    width: 100%;
    height: auto;
}

header p {
    padding: 0 15px;

    font-size: 1em;
}

/******** Portfolio ********/

.portfolio {
    padding-bottom: 45px;
    margin: 0 auto;

    font-family: 'Roboto', 'Montserrat', sans-serif;
}

.project img {
    width: 100%;
    height: auto;
}

.project p {
    padding: 0 15px 25px 15px;
}

.portfolio h3 {
    padding-top: 10px;

    font-size: 1.5em;
}

/******** Hobbies ********/

.hobbies {
    padding-bottom: 60px;
}

.hobbies p {
    padding: 0 15px;
}

/******** Contact ********/

.contact {
    padding: 50px 10px;

    background-color: #FAFAFA;
}

.contact h2 {
    padding-bottom: 15px;
}

/******** Footer ********/

footer {
    background-color: #FAFAFA;   
}

.footer-nav {
    display: flex;
    justify-content: space-between;

    padding: 10px 0;
    margin: 0 auto;
    max-width: 90%;

    border-top: 1px solid #D4D4D4;  
}

.footer-name {
    font-weight: bold;
}

.to-top {
    font-weight: bold;
    text-transform: uppercase;
}

.footer-nav a {
    text-decoration: none;
    color: inherit;
}

.footer-nav-links {
    display: none;
}

/******** Tablet View ********/

@media (min-width: 768px) {

    nav ul{
        display: flex;
        justify-content: center;
    }

    nav li {
        background-color: #FAFAFA;
    }

    header {
        padding-bottom: 65px;
    }

    .head {
        display: flex;
        flex-direction: row-reverse;
    }

    .head-text {
        padding: 0 20px 0 30px;
        margin: 40px 0 0 0;

        font-size: 1.2em;
        text-align: left;
    }

    .head-img {
        padding: 0 30px 0 20px;
        margin: 40px 0 0 0;
        min-width: 400px;
    }

    h2 {
        padding: 30px;
    }

    .portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 15px;
        grid-template-areas:
        "proj-1 proj-2"
        "proj-3 proj-4"
        "proj-5 proj-6";

        padding: 0 30px;
    }

    .project-1 { grid-area: proj-1;}
    .project-2 { grid-area: proj-2;}
    .project-3 { grid-area: proj-3;}
    .project-4 { grid-area: proj-4;}
    .project-5 { grid-area: proj-5;}
    .project-6 { grid-area: proj-6;}

    .contact p {
        padding: 10px 50px 0 50px;

        font-size: 1.5em;
    }

    .to-top {
        display: none;
    }

    .footer-nav-links {
        display: block;
    }

    .footer-nav-links ul {
        display: flex;
    }

    .footer-nav-links li {
        padding-left: 30px;

        font-weight: bold;
    }

} /* End Media Query - min-width: 768px */

/******** Desktop View ********/

@media (min-width: 1024px) {

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav h1 {
        margin: 50px 0 0 50px;

        font-size: 3em;
    }

    nav li {
        padding: 0;
        margin: 50px 50px 0 0;
        
        font-size: 1.3em;
    }

    body {
        background-color: #FAFAFA;
    }
    .head-text {
        padding: 0 20px 0 30px;
        margin: 40px 0 0 20px;

        font-size: 1.5em;
        text-align: left;
    }

    .head-img {
        padding: 0 30px 0 20px;
        margin: 40px 0 0 0;
        min-width: 480px;
    }

    .section-portfolio {
        margin: 0 auto;
        max-width: 95%;
        
        background-color: #FFFFFF;
    }

    .portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 15px;
        grid-template-areas:
        "proj-1 proj-2 proj-3"
        "proj-4 proj-5 proj-6";

        padding: 0 30px;

        background-color: #FFFFFF;
    }

    .project-1 { grid-area: proj-1;}
    .project-2 { grid-area: proj-2;}
    .project-3 { grid-area: proj-3;}
    .project-4 { grid-area: proj-4;}
    .project-5 { grid-area: proj-5;}
    .project-6 { grid-area: proj-6;}

} /* End Media Query - min-width: 1024px */